---
title: La persistencia de nuestra memoria
layout: link
seo_description: Escucha La persistencia de nuestra memoria, poema de Montse Momblán - 2025
seo_image: /assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria_seo.jpg
seo_image_width: 1280
seo_image_height: 1280
seo_type: music.song
seo_audio: /assets/audio/dentro-del-laberinto/fortalezas_preview.mp3
seo_audio_type: audio/mpeg
seo_music_duration: 233
seo_music_album: https://open.spotify.com/album/32I7J9vpmLMMK8715q9EbY
seo_music_album_track: 1
seo_music_release_date: 2023-11-20
seo_music_musician: https://open.spotify.com/artist/1A4ezsQEPReJxvoTJp4u51
seo_mobile_spotify_url: spotify://track/0neKhKe2rmt1STozzBeTto/?si=d963add86d76420f
---

{% include link_track.html

  artwork="/assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria.jpg"
  artwork_webp_sizes="/assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria.webp 1024w, /assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria_640.webp 640w, /assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria_480.webp 480w, /assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria_320.webp 320w"
  artwork_jpg_sizes="/assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria.jpg 1024w, /assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria_640.jpg 640w, /assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria_480.jpg 480w, /assets/images/dentro-del-laberinto/04_la_persistencia_de_la_memoria_320.jpg 320w"
  artwork_ratio="1x1"

  artist_name="Montse Momblán"
  album_name="La persistencia de nuestra memoria"

  spotify="PLAY"
  youtube="PLAY"
  soundcloud="PLAY"

  cc_year="2025"

%}

{% include link_js.html

  deep_link="yes"

  spotify_artist_id="1A4ezsQEPReJxvoTJp4u51"
  spotify_si="588825ef8a984182"

  youtube_channel_id="UCOPHcngzAIc4ZqT2cc0V0jw"

  soundcloud_artist_id="almadetuz"

  campaign="dl-la-persistencia-de-nuestra-memoria"
  medium="spotify"

%}
