---
title: Universo - Alma de Tüz
layout: link
---

{% include link_video.html

  artwork="/assets/images/universo_videoclip.jpg"

  artist_name="Alma de Tüz"
  album_name="Universo"

  youtube="VIDEOCLIP"
  spotify="PLAY"
  ytmusic="PLAY"
  apple="PLAY"
  apple_link="https://music.apple.com/es/album/universo-single/1665405749"

%}

{% include link_js.html

  path="https://www.almadetuz.com/l/youtube/universo"

  spotify_track_id="7xUiJ5PIZtnGp0LoSfp3l9"
  spotify_si="pA0lSuL3TsqhaPj6wyt3Lw"

  ytmusic_track_id="4TB72Na1fFw"

  youtube_video_id="BJ0aPpj7MFo"

  campaign="universo"
  medium="youtube"

%}
