---
title: Luciérnagas
layout: link
seo_description: Escucha Luciérnagas en Spotify - Alma de Tüz - Song - 2023
seo_image: /assets/images/luciernagas_single_seo.jpg
seo_image_width: 640
seo_image_height: 640
seo_type: music.song
seo_audio: /assets/audio/luciernagas_preview.mp3
seo_audio_type: audio/mpeg
seo_music_duration: 163
seo_music_album: https://open.spotify.com/album/4M2Xi70zAyjjvrKwBfKxL3
seo_music_album_track: 1
seo_music_release_date: 2023-05-19
seo_music_musician: https://open.spotify.com/artist/1A4ezsQEPReJxvoTJp4u51
seo_mobile_spotify_url: spotify://track/1K8Uk1Z60ws2mZKXbWEQs9/?si=d963add86d76420f
---

{% include link_track.html

  artwork="/assets/images/luciernagas_single.jpg"
  artwork_webp_sizes="/assets/images/luciernagas_single.webp 1024w, /assets/images/luciernagas_single_640.webp 640w, /assets/images/luciernagas_single_480.webp 480w, /assets/images/luciernagas_single_320.webp 320w"
  artwork_jpg_sizes="/assets/images/luciernagas_single.jpg 1024w, /assets/images/luciernagas_single_640.jpg 640w, /assets/images/luciernagas_single_480.jpg 480w, /assets/images/luciernagas_single_320.jpg 320w"
  artwork_ratio="1x1"

  artist_name="Alma de Tüz"
  album_name="Luciérnagas"

  spotify="PLAY"
  ytmusic="PLAY"
  apple="PLAY"

  bandcamp_url="https://almadetuz.bandcamp.com/album/luciernagas"
  cc_year="2023"

%}

{% include link_js.html

  path="https://www.almadetuz.com/l/spotify/luciernagas"

  spotify_track_id="1K8Uk1Z60ws2mZKXbWEQs9"
  spotify_si="d963add86d76420f"

  ytmusic_track_id="cS1YKbCz1T4"
  ytmusic_list_id="PLeNBLdOfTIZLNdAG1KO4Eur0LpTBlnwAF"

  apple_link="https://music.apple.com/es/album/luci%C3%A9rnagas/1685228212?i=1685228213"

  campaign="luciernagas"
  medium="spotify"

%}
