---
title: Alma de Tüz
layout: link
seo_description: Escucha a Alma de Tüz en Spotify
seo_image: /assets/images/alma_de_tuz_artist_seo.jpg
seo_image_width: 1280
seo_image_height: 1280
seo_type: music.song
seo_audio: /assets/audio/alas_en_mi_preview.mp3
seo_audio_type: audio/mpeg
seo_music_duration: 235
seo_music_album: https://open.spotify.com/album/37tcbRJbrs2QMIaC7nrTnA
seo_music_album_track: 1
seo_music_release_date: 2023-03-24
seo_music_musician: https://open.spotify.com/artist/1A4ezsQEPReJxvoTJp4u51
seo_mobile_spotify_url: spotify://artist/1A4ezsQEPReJxvoTJp4u51/?si=588825ef8a984182
---

{% include link_track.html

  artwork="/assets/images/alma_de_tuz_artist.jpg"
  artwork_webp_sizes="/assets/images/alma_de_tuz_artist.webp 800w, /assets/images/alma_de_tuz_artist_640.webp 640w, /assets/images/alma_de_tuz_artist_480.webp 480w, /assets/images/alma_de_tuz_artist_320.webp 320w"
  artwork_jpg_sizes="/assets/images/alma_de_tuz_artist.jpg 800w, /assets/images/alma_de_tuz_artist_640.jpg 640w, /assets/images/alma_de_tuz_artist_480.jpg 480w, /assets/images/alma_de_tuz_artist_320.jpg 320w"
  artwork_ratio="1x1"

  artist_name="Alma de Tüz"
  album_name="Descubre la música de Alma de Tüz"

  spotify="PLAY"
  youtube="PLAY"
  soundcloud="PLAY"

  cc_year="2023"

%}

{% include link_js.html

  deep_link="yes"

  spotify_artist_id="1A4ezsQEPReJxvoTJp4u51"
  spotify_si="588825ef8a984182"

  youtube_channel_id="UCOPHcngzAIc4ZqT2cc0V0jw"

  soundcloud_artist_id="almadetuz"

  campaign="artist"
  medium="youtube"

%}
