<div class="col-sm-6 button-link text-center mt-3 mb-3"
  id="{{ include.cta_prefix | default: 'checkout' }}-cta-{{ include.cta_id }}">
  <a class="btn {{ include.class | default: 'btn-primary' }} button-link-url ms-3 me-3"
    id="{{ include.cta_prefix | default: 'checkout' }}-ctaurl-{{ include.cta_id }}"
    href="{{ include.url | default: '#' }}" target="{{ include.target | default: '_self' }}">
    {{ include.text }}
  </a>
  {% if include.subtext %}
  <p class="button-link-subtext">{{ include.subtext }}</p>
  {% endif %}
</div>

<script type="text/javascript">
  (function () {
    var cta_prop = { cta: "{{ include.cta_prefix | default: 'checkout' }}-cta-{{ include.cta_id }}" };
    function CtaClick(e, url, target) {
      return trackAndGo('CTAClick', {
        ...cta_prop,
        value: {{ include.fb_value | default: 1.00 }},
        currency: "{{ include.fb_currency | default: 'EUR' }}"
      }, url, target);
    }
    function CtaView(e) {
      var scroll_prop = { view_time: Math.trunc(e.time / 1000) };
      track('CTAView', { ...cta_prop, ...scroll_prop });
    }
    CallToAction.add("{{ include.cta_prefix | default: 'checkout' }}", "{{ include.cta_id }}",
      (e, url, target) => CtaClick(e, url, target));
    ScrollEvent.add("{{ include.cta_prefix | default: 'checkout' }}-cta-{{ include.cta_id }}",
      (e) => { CtaView(e); });
  })();
</script>
