<!-- Facebook Pixel -->
<script>
  var fb_consent = false;
  var fb_queue = [];
  function fb_log(log) {
    if (environment == 'devel') console.log(log);
  }
  !function (f, b, e, v, n, t, s) {
    if (f.fbq) return; n = f.fbq = function () {
      n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
    n.queue = []; t = b.createElement(e); t.async = !0;
    t.src = v; s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1185027625444517');
  fb_track('track', 'PageView');
  fb_log('fb:init');
  function fb_track() {
    if (fb_consent) {
      if (environment == 'production') fbq(...arguments);
      fb_log('send: ' + [...arguments].join(', '));
    }
    else fb_queue.push(arguments);
  }
  function fb_flush() {
    while (fb_queue.length > 0) {
      var params = fb_queue.shift();
      if (environment == 'production') fbq(...params);
      fb_log('flush: ' + [...params].join(', '));
    }
  }
  function fb_grant() {
    fbq('consent', 'grant');
    fb_consent = true;
    amp_event('FbGrant', web_event_prop);
  }
  function fb_revoke() {
    fbq('consent', 'revoke');
    fb_consent = false;
    amp_event('FbRevoke', web_event_prop);
  }
  window.addEventListener('cc:onConsent', ({ detail }) => {
    const data = detail.cookie;
    fb_log('fb:cc:onConsent: ' + data.categories);
    if (data.categories.includes("advertisement") || fb_learn) {
      fb_grant();
      fb_flush();
    } else {
      fb_revoke();
    }
  });
  window.addEventListener('cc:onChange', ({ detail }) => {
    const data = detail.cookie;
    fb_log('fb:cc:onChange: ' + data.categories);
    if (data.categories.includes("advertisement") || fb_learn) {
      fb_grant();
      fb_flush();
    } else {
      fb_revoke();
    }
  });
  function fb_event(event, category, name) {
    var event_prop = {};
    if (typeof (category) !== 'undefined') event_prop['content_category'] = category;
    if (typeof (name) !== 'undefined') event_prop['content_name'] = name;
    fb_track('track', event, event_prop);
    fb_log('fb.track: ' + event);
    if (Object.keys(event_prop).length > 0) fb_log(event_prop);
  }
</script>
<!--noscript>
  With new GDPR regulation we can not add Facebook pixel when no JS is available because we can't get consent from the user without JS
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1185027625444517&ev=PageView&noscript=1" />
</noscript-->
