<!-- Facebook Pixel -->
<script>
  function fb_log(log) {
    if (environment == 'devel') console.log(log);
  }
  !function (f, b, e, v, n, t, s) {
    if (f.fbq) return; n = f.fbq = function () {
      n.callMethod ?
        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
    };
    if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
    n.queue = []; t = b.createElement(e); t.async = !0;
    t.src = v; s = b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t, s)
  }(window, document, 'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1185027625444517');
  fb_log('fb:init');
  // Events are fired by assets/js/site.js (track), with the broker event id
  function fb_grant() {
    fbq('consent', 'grant');
    track('FbGrant');
  }
  function fb_revoke() {
    fbq('consent', 'revoke');
    track('FbRevoke');
  }
  window.addEventListener('cc:onConsent', ({ detail }) => {
    const data = detail.cookie;
    fb_log('fb:cc:onConsent: ' + data.categories);
    if (data.categories.includes("advertisement")) {
      fb_grant();
    } else {
      fb_revoke();
    }
  });
  window.addEventListener('cc:onChange', ({ detail }) => {
    const data = detail.cookie;
    fb_log('fb:cc:onChange: ' + data.categories);
    if (data.categories.includes("advertisement")) {
      fb_grant();
    } else {
      fb_revoke();
    }
  });
</script>
<!--noscript>
  With new GDPR regulation we can not add Facebook pixel when no JS is available because we can't get consent from the user without JS
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1185027625444517&ev=PageView&noscript=1" />
</noscript-->
