<div class="container-fluid">
  <div class="row">
    <div class="col p-3">
      <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.es">
        <img src="/assets/images/by-nc-sa.png" height="32px">
      </a>
      2022 - Amanda Fdez. Bartolomé
    </div>
  </div>
</div>
<!--
<nav>
    {% for item in site.data.legal %}
      <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
    {% endfor %}
</nav>
-->
<!--
<div class="navbar-space"></div>
-->
