{% include fb_js.html %}
{% include amplitude_js.html %}

<!-- Link JS -->
<script  type="text/javascript" src="/assets/js/link.js"></script>

<!-- Link actions -->
<script>
    const query_params = new URLSearchParams(window.location.search);
    const source = query_params.get('s') || 'other';
    const tag = query_params.get('t');
    const failed = query_params.get('f') || 0;
    const canonical_url = '{{ include.path }}',
          campaign = '{{ include.campaign }}',
          medium = '{{ include.medium }}',
          spotify_track_id = '{{ include.spotify_track_id }}',
          spotify_si = '{{ include.spotify_si }}',
          spotify_context = '{{ include.spotify_context | default: "none" }}',
          ytmusic_track_id = '{{ include.ytmusic_track_id }}',
          ytmusic_list_id = '{{ include.ytmusic_list_id | default: "none" }}',
          youtube_video_id = '{{ include.youtube_video_id }}',
          youtube_list_id = '{{ include.youtube_list_id | default: "none" }}',
          apple_link = '{{ include.apple_link }}';

    event_prop = {
        source: source,
        tag: tag,
        campaign: campaign,
        medium: medium,
        device_kind: deviceKind(),
        failed: failed
    };

  {% if include.spotify_track_id %}
    spotifyLinkSet(canonical_url, query_params, medium, spotify_track_id, spotify_si, spotify_context);
  {% endif %}
  {% if include.ytmusic_track_id %}
    ytMusicLinkSet(canonical_url, query_params, medium, ytmusic_track_id, ytmusic_list_id);
  {% endif %}
  {% if include.youtube_video_id %}
    youTubeLinkSet(canonical_url, query_params, medium, youtube_video_id, youtube_list_id);
  {% endif %}
  {% if include.apple_link %}
    appleLinkSet(apple_link);
  {% endif %}

    if (failed == 0) {
        if (typeof amplitude !== 'undefined') amplitude.track('PageView', event_prop);

        if (isMobile.any()) {
            // --> Spotify app in mobile
          {% if include.medium == 'spotify' %}
            openSpotifyTrack(spotify_track_id, spotify_si, spotify_context);
          {% endif %}
          {% if include.medium == 'ytmusic' %}
            openYouTubeMusic(ytmusic_track_id, ytmusic_list_id);
          {% endif %}
          {% if include.medium == 'youtube' %}
            openYouTubeVideo(youtube_video_id, youtube_list_id);
          {% endif %}

            // 2. Track that the app was not opened on iOS devices
            if (isMobile.iOS()) {
                setTimeout(() => {
                  if (typeof amplitude !== 'undefined') amplitude.track('AppNotInstalled', event_prop);
                }, 5000);
            }
        }
    } else {
        if (typeof amplitude !== 'undefined') amplitude.track('AppNotInstalled', event_prop);
    }


</script>
