<div class="container-fluid {{ include.class }} mb-4 mt-4 rounded-2">
<div class="row">
<div class="col">

<form
action="https://almadetuz.us21.list-manage.com/subscribe/post?u={{ include.user_id | default: '755a8ee1763ec4fdac3272bec' }}&amp;id={{ include.audience_id | default: 'e3966d2aab' }}"
method="post"
id="subscribe-form-{{ include.form_id }}"
name="subscribe-form"
class="mc-form needs-validation mb-3 mt-3"
target="_self"
novalidate>

<div class="title">
  {{ include.title }}
</div>

<div class="subtitle">
  {{ include.subtitle }}
</div>

<div class="mb-3">
  <label for="subscribe-email-{{ include.form_id }}" class="form-label">Email</label>
  <input type="email" name="EMAIL" class="form-control" id="subscribe-email-{{ include.form_id }}" required value="">
  <div class="invalid-feedback">
    Tienes que poner un email válido
  </div>
</div>

<div class="form-check">
  <input type="checkbox" id="subscribe-gdpr-{{ include.gdpr_id | default: '97974' }}-{{ include.form_id }}" name="gdpr[{{ include.gdpr_id | default: '97974' }}]" class="form-check-input" value="Y" required>
  <label class="form-check-label" for="subscribe-gdpr-{{ include.gdpr_id | default: '97974' }}-{{ include.form_id }}">
    He leído y acepto la <a href="/legal/privacidad.html" target="_blank">política de protección de datos</a>.
  </label>
  <div class="invalid-feedback">
    Tienes que aceptar nuestra política de protección de datos, en cualquier momento te puedes dar de baja con un sólo clic.
  </div>
</div>

<div aria-hidden="true" style="position: absolute; left: -5000px;">
<input type="text" name="b_{{ include.user_id | default: '755a8ee1763ec4fdac3272bec' }}_{{ include.audience_id | default: 'e3966d2aab' }}" tabindex="-1" value="">
{% if include.context_group_id %}
<input type="text" name="group[{{ include.context_group_id }}]" tabindex="-1" value="{{ include.context_id }}">
{% endif %}
{% if include.status_value %}
<input type="text" name="STATUS" tabindex="-1" value="{{ include.status_value }}">
{% endif %}
</div>

<div class="text-center">
<!--input class="btn btn-primary" type="submit" name="subscribe" id="subscribe-submit-{{ include.form_id }}" value="{{ include.button }}"-->
<button class="btn btn-primary disabled" type="submit" id="subscribe-submit-{{ include.form_id }}">
  <span class="spinner-border spinner-border-sm d-none" id="subscribe-spinner-{{ include.form_id }}" role="status" aria-hidden="true"></span>
  {{ include.button }}
</button>
</div>

<div class="invalid-feedback mt-3 mb-3" id="subscribe-error-message-{{ include.form_id }}">
  {{ include.generic_error_message }}
</div>

<div class="line-bottom">
  {{ include.line_bottom }}
</div>

<div class="legal">
  Para cumplir con el RGPD (Reglamento General de Protección de Datos) es necesario que leas y aceptes la
  <a href="/legal/privacidad.html" target="_blank">política de protección de datos</a> de la web.
  Tus datos serán almacenados en Mailchimp, un proveedor de email marketing que también cumple con el RGPD.
</div>

</form>
</div>
</div>
</div>

<script type="text/javascript">
(function () {
  var form_prop = {form: "subscribe-{{ include.form_id }}"};
  function FormSubmit(e) {
    amp_event('FormSubmit', {...web_event_prop, ...form_prop});
  }
  function FormView(e) {
    var scroll_prop = {view_time: Math.trunc(e.time / 1000)};
    amp_event('FormView', {...web_event_prop, ...form_prop, ...scroll_prop});
  }
  function FormError(e) {
    amp_event('FormError', {...web_event_prop, ...form_prop});
  }
  Form.add("subscribe", "{{ include.form_id }}",
    (e) => {FormSubmit(e);},
    (e) => {FormError(e);});
  ScrollEvent.add("subscribe-form-{{ include.form_id }}",
    (e) => {FormView(e);});
})();
</script>
