form.mc-form {
  .title {
    font-weight: bold;
    font-size: 1.6em;
  }
  .subtitle {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  .btn {
    margin: 12px 0px 12px auto;
  }
  .line-bottom {
    margin-bottom: 20px;
  }
  .legal {
    font-size: 0.8em;
  }
}
