.ratio-9x16 {
  --bs-aspect-ratio: calc(16 / 9 * 100%);
}

.ratio-64x91 {
  --bs-aspect-ratio: calc(91 / 64 * 100%);
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #{$color-auburn-claro}; // claro
  --bs-btn-border-color: #{$color-auburn-claro}; // claro
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #{$color-auburn-semi}; // semi
  --bs-btn-hover-border-color: #{$color-auburn}; // normal
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #{$color-auburn}; // normal
  --bs-btn-active-border-color: #{$color-auburn-oscuro}; // oscuro
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #{$color-auburn-claro}; // claro
  --bs-btn-disabled-border-color: #{$color-auburn-claro}; // claro
}

p {
  margin-bottom: 2rem;
}

a {
    color: #BF3D45;
    text-decoration: none;
}

a:hover {
    color: #820004;
    text-decoration: none;
}

.text-white a.current {
  color: rgba(255, 255, 255, 1);
}

.text-soft-white a.current {
    color: rgba(221, 221, 221, 1);
}

.text-soft-black a.current {
    color: rgba(33, 37, 41, 1);
}

body {
    // font-size: 20px;
    // line-height: 34px;
    color: $color-eerie-black;
    background-color: $color-isabelline;
}

body.home {
    // color: rgba(221, 221, 221, 1);
    // background-color: rgba(33, 37, 41, 1);
    font-family: Montserrat, sans-serif;
}

body.page {
  //color: rgba(33, 37, 41, 1);;
  //background-color: white;
  font-family: Montserrat, sans-serif;
  max-width: 920px;
  margin: auto;
}

body.link {
  background-color: white;
}

@media screen and (min-width: $bp-thin) {
    body {
        font-size: 1em;
    }

}

h1 {
  font-size: 32px;
  margin-top: 10px;
}
@media screen and (min-width: $bp-tablet) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-size: 26px;
  margin: 10px 0px 20px 0px;
}
@media screen and (min-width: $bp-tablet) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  margin: 20px 0px 30px 0px;
}

p, li {
  font-size: 20px;
  line-height: 34px;

}

h1.titular, h2.titular {
  font-family: $font-h1-titular;
}

.titular {
  margin-bottom: 30px;
}

.subtitular{
  margin-bottom: 30px;
}

h2.subtitular {
  font-family: $font-h2-subtitular;
}

img.img-left, img.img-right,
img.img-center, img.img-center-320, img.img-center-480, img.img-center-640 {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: var(--bs-border-radius);
  // padding: 10px 0px;
}

@media screen and (min-width: $bp-mobile) {
  img.img-left {
    width: 216px;
    float: left;
    margin: 10px 20px 10px 0px;
  }
}
@media screen and (min-width: $bp-mobile) {
  img.img-right {
    width: 216px;
    float: right;
    margin: 10px 0px 10px 20px;
  }
}
@media screen and (min-width: $bp-mobile) {
  img.img-center-320 {
    width: 320px;
  }
  img.img-center-480 {
    width: 480px;
  }
  img.img-center-640 {
    width: 640px;
  }
}
@media screen and (min-width: $bp-tablet) {
  img.img-left, img.img-right {
    width: 300px;
  }
}


.bg-dark {
  background-color: rgba(33, 37, 41, 1);
}

.bg-rose {
  background-color: $color-tea-rose;
}

.bg-yellow {
  background-color: rgba(253, 255, 162, 1);
}

.bg-white {
  background-color: rgba(255, 255, 255, 1);
}


.font-tuz {
    font-family: 'Walter Turncoat', cursive;
}
p.font-tuz {
    font-size: 1.2em;
}

.font-quote {
    font-family: 'Caveat', cursive;
}
p.font-quote {
        font-size: 1.8em;
}

.navbar-space {
    height: 84px;
}

.text-soft-white {
    color: rgba(221, 221, 221, 1)!important;
}

.text-soft-black {
    color: rgba(33, 37, 41, 1)!important;
}

#contact a {
    color: rgba(221, 221, 221, 1);
}

#contact a:hover {
    color: #820004;
}

#contact .social-networks-icons {
    font-size: 1.4em;
}
#contact .social-networks-icons i {
  padding: 0px 6px;
}
@media screen and (min-width: $bp-mobile) {
  #contact .social-networks-icons {
    font-size: 2em;
  }
  #contact .social-networks-icons i {
    padding: 0px 10px;
  }
}

.carousel-indicators [data-bs-target] {
    background-color: #222;
    opacity: .8;
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2222'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2222'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

div.mobile_social {
    visibility: visible;
}
div.social {
    height: 0px;
    visibility: hidden;
}
div.social a,
div.mobile_social a {
    padding: 4px;
    color: rgba(221, 221, 221, 1);
    font-size: 1.2em;
}
@media screen and (min-width: $bp-mobile) {
    div.mobile_social {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    div.social {
        padding-bottom: 2rem;
        padding-right: 20px;
        text-align: center;
        visibility: visible;
    }
}
@media screen and (min-width: $bp-tablet) {
    div.social {
        padding-top: 1.2rem;
    }
}
@media screen and (min-width: $bp-bigtablet) {
  div.social {
      padding-top: 1.2rem;
      padding-right: 42px;
      text-align: right;

  }
  div.social a {
      font-size: 1.4em;
  }
}
@media screen and (min-width: $bp-screen) {
    div.social {
        padding-right: 50px;
    }
    div.social a {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 1.8em;
    }
}

div.social a:hover {
    color: #820004;
}

.navbar-dark .navbar-nav .nav-link {
    color: #BF3D45;
    font-size: 0.8em;
}
@media screen and (min-width: $bp-bigtablet) {
    .navbar-dark .navbar-nav .nav-link {
        padding-top: 0.4rem;
        letter-spacing: 2px;
        margin-left: 5px;
        font-weight: bold;
        font-size: 0.9em;
    }
}

@media screen and (min-width: $bp-screen) {
    .navbar-dark .navbar-nav .nav-link {
        letter-spacing: 6px;
        font-size: 1em;
        margin-left: 20px;
    }
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #820004;
}

.navbar-brand img {
    height: 40px;
}
@media screen and (min-width: $bp-bigtablet) {
    .navbar-brand {
        padding-top: 6px;
    }
    .navbar-brand img {
        height: 50px;
    }
}
@media screen and (min-width: $bp-screen) {
    .navbar-brand {
        padding-top: 10px;
    }
    .navbar-brand img {
        height: 60px;
    }
}

div.listen-also,
p.more-info,
p.press-info {
  padding-top: 10px;
  margin-bottom: 2rem;
  font-size: 1em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.listen-also a,
p.more-info a {
  font-size: 1.6em;
  color: #212529;
  padding-right: 14px;
}

div.listen-also span {
  padding-right: 14px;
}

div.listen-also .listen-also-icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px; /* Space between text and icons on mobile */
}

@media screen and (min-width: $bp-mobile) {
  div.listen-also {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  div.listen-also .listen-also-icons {
    margin-top: 0;
    margin-left: 8px; /* Space between text and icons on desktop */
  }

  div.listen-also span,
  p.more-info a {
    padding-left: 5px;
  }
}

div.listen-also i.fa-youtube,
div.listen-also i.fa-soundcloud,
div.listen-also i.fa-apple,
div.listen-also i.fa-bandcamp,
div.listen-also i.fa-spotify {
  transition: color .15s ease;
}
div.listen-also i.fa-youtube:hover {
  color: #E74529;
}
div.listen-also i.fa-soundcloud:hover {
  color: #E85029;
}
div.listen-also i.fa-apple:hover {
  color: #D60017;
}

div.listen-also i.fa-bandcamp:hover {
  color: #319BBF;
}
div.listen-also i.fa-spotify:hover {
  color: #3AE176;
}
div.listen-also .icon-tidal .tidal-icon {
  height: 28px;
  vertical-align: middle;
  transition: color .15s ease;
}
.icon-tidal:hover .tidal-icon {
  color: rgb(51, 255, 238);
}
.deezer-icon {
  height: 22px;
  vertical-align: middle;
  transition: color .15s ease;
}
.icon-deezer:hover .deezer-icon {
  color: #9E33F7;
}

/* Link */
#links {
  color: rgba(33, 37, 41, 1);
}
.logo_play, .button_play {
  min-width: 100px;
}
.logo_play img {
  max-height: 30px;
  margin-top: 5px;
}
.button_play a {
  min-width: 100px;
  width: 100%;
  height: 30px;
  font-size: 12px;
  margin-top: 5px;
}
.row_play {
  padding: 1rem 0;
}

.artist_name, .album_name {
  padding-left: 1rem;
}
.artist_name {
  font-family: 'Walter Turncoat', cursive;
  font-size: 2em;
  font-weight: bold;
}
.la_penultima .artist_name {
  font-family: var(--bs-body-font-family);
}
.album_name {
  padding-bottom: 1rem;
  font-size: 1.4em;
}

.bandcamp_link, .copyleft {
  font-size: 0.8em;
  padding-top: 2rem;
}
.copyleft {
  color: #848484;
}

.telegram-button-widget .btn-primary {
  background-color: #29a9ea;
}

@media screen and (min-width: $bp-bigtablet) {
  .telegram-button-widget .btn {
    font-size: 1.25em;
  }
}

@media screen and (min-width: 992px) {
  .telegram-button-widget {
    height: 320px;
    display: grid;
  }
  .telegram-button-widget .btn {
    margin: auto;
  }

}

.button-image .bg-image {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 320px;
  height: 180px;
}

.button-image .title {
  font-family: $font-button-image-title;
  font-size: 1.5em;
  padding: 15px 5px 10px 15px;
}

.button-image .icon {
  position: absolute;
  bottom: 0px;
  right: 12px;
  font-size: 3em;
}

.block-title-image-bg {
  position: relative;
  background-size: cover; /* Hace que la imagen cubra todo el div */
  background-position: center; /* Centra la imagen en el div */
  background-repeat: no-repeat;
  display: flex;
  /* align-items: center;
  justify-content: center;
  text-align: center; */
}

.block-title-image-overlay {
  position: absolute; /* Superpone el div sobre la imagen de fondo */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Color negro con 50% de opacidad */
  z-index: 1; /* Asegura que la capa oscura esté sobre la imagen de fondo */
}

.container-fluid {
  --bs-gutter-x: 3rem;
}
