---
title: Universo
layout: link
seo_description: Escucha Universo en Spotify - Alma de Tüz - Song - 2023
seo_image: /assets/images/universo_single_seo.jpg
seo_image_width: 640
seo_image_height: 640
seo_type: music.song
seo_audio: /assets/audio/universo_preview.mp3
seo_audio_type: audio/mpeg
seo_music_duration: 244
seo_music_album: https://open.spotify.com/album/14QGgllJuBE23BvSWLMJGQ
seo_music_album_track: 1
seo_music_release_date: 2023-02-03
seo_music_musician: https://open.spotify.com/artist/1A4ezsQEPReJxvoTJp4u51
seo_mobile_spotify_url: spotify://track/7xUiJ5PIZtnGp0LoSfp3l9/?si=pA0lSuL3TsqhaPj6wyt3Lw
---

{% include link_track.html

  artwork="/assets/images/universo_single.jpg"
  artwork_ratio="1x1"

  artist_name="Alma de Tüz"
  album_name="Universo"

  spotify="PLAY"
  ytmusic="PLAY"
  apple="PLAY"
  apple_link="https://music.apple.com/es/album/universo-single/1665405749"

  bandcamp_url="https://almadetuz.bandcamp.com/album/universo"
  cc_year="2023"

%}

{% include link_js.html

  path="https://www.almadetuz.com/l/spotify/universo"

  spotify_track_id="7xUiJ5PIZtnGp0LoSfp3l9"
  spotify_si="pA0lSuL3TsqhaPj6wyt3Lw"

  ytmusic_track_id="4TB72Na1fFw"

  campaign="universo"
  medium="spotify"

%}
