---
title: Universo - Alma de Tüz
layout: link
---

{% include link_track.html

  artwork="/assets/images/universo_single.jpg"

  artist_name="Alma de Tüz"
  album_name="Universo"

  spotify="PLAY"
  ytmusic="PLAY"
  apple="PLAY"
  apple_link="https://music.apple.com/es/album/universo-single/1665405749"

%}

{% include link_js.html

  path="https://www.almadetuz.com/l/spotify/universo"

  spotify_track_id="7xUiJ5PIZtnGp0LoSfp3l9"
  spotify_si="pA0lSuL3TsqhaPj6wyt3Lw"

  ytmusic_track_id="4TB72Na1fFw"

  campaign="universo"
  medium="spotify"

%}
