---
title: Raíces
layout: link
seo_description: Escucha Raíces en Spotify - Alma de Tüz - Song - 2024
seo_image: /assets/images/raices_single_seo.jpg
seo_image_width: 1280
seo_image_height: 720
seo_type: music.song
seo_audio: /assets/audio/raices_preview.mp3
seo_audio_type: audio/mpeg
seo_music_duration: 203
seo_music_album: https://open.spotify.com/album/4cXc9biZ2AR9eTNTpKgVaM
seo_music_album_track: 1
seo_music_release_date: 2024-02-23
seo_music_musician: https://open.spotify.com/artist/1A4ezsQEPReJxvoTJp4u51
seo_mobile_spotify_url: spotify://track/2P2Pyi5p8cExE4xapFflmr/?si=790acbe52b6343b0
---

{% include link_track.html

  artwork="/assets/images/raices_single_alt.jpg"
  artwork_webp_sizes="/assets/images/raices_single_alt.webp 1024w, /assets/images/raices_single_alt_640.webp 640w, /assets/images/raices_single_alt_480.webp 480w, /assets/images/raices_single_alt_320.webp 320w"
  artwork_jpg_sizes="/assets/images/raices_single_alt.jpg 1024w, /assets/images/raices_single_alt_640.jpg 640w, /assets/images/raices_single_alt_480.jpg 480w, /assets/images/raices_single_alt_320.jpg 320w"
  artwork_ratio="1x1"

  artist_name="Alma de Tüz"
  album_name="Raíces"

  spotify="PLAY"
  youtube="PLAY"
  apple="PLAY"

  bandcamp_url="https://almadetuz.bandcamp.com/album/raices"
  cc_year="2024"

%}

{% include link_js.html

  deep_link="no"

  spotify_track_id="2P2Pyi5p8cExE4xapFflmr"
  spotify_si="790acbe52b6343b0"

  youtube_video_id="hAtpp_zh9d4"
  youtube_list_id="PLeNBLdOfTIZL2VWEhVtPFLAOrIxvDRXxz"

  apple_link="https://music.apple.com/es/album/a/1728584815?app=music&itscg=10002&itsct=mus_1650986310&ct=QTG5iaA1GZSNiKw&at=1010l367Y&ls=1&mttnsubad=album_newrelease_Measure"

  campaign="raices"
  medium="spotify"

%}
