---
title: Alas en mi - Alma de Tüz
layout: link
---

{% include link_track.html

  artwork="/assets/images/alas_en_mi_single.jpg"

  artist_name="Alma de Tüz"
  album_name="Alas en mí"

  spotify="PLAY"
  ytmusic="PLAY"
  apple="PLAY"
  apple_link="https://music.apple.com/us/album/alas-en-m%C3%AD-single/1672758654"

%}

{% include link_js.html

  path="https://www.almadetuz.com/l/spotify/alasenmi"

  spotify_track_id="6PKEJ7mcw8bifcQYq6rLjN"
  spotify_si="pA0lSuL3TsqhaPj6wyt3Lw"

  ytmusic_track_id="vwDkTOcnIYQ"

  campaign="alasenmi"
  medium="spotify"

%}
