---
title: Alas en mi
layout: link
seo_description: Escucha Alas en mí en Spotify - Alma de Tüz - Song - 2023
seo_image: /assets/images/alas_en_mi_single_seo.jpg
seo_image_width: 640
seo_image_height: 640
seo_type: music.song
seo_audio: /assets/audio/alas_en_mi_preview.mp3
seo_audio_type: audio/mpeg
seo_music_duration: 235
seo_music_album: https://open.spotify.com/album/37tcbRJbrs2QMIaC7nrTnA
seo_music_album_track: 1
seo_music_release_date: 2023-03-24
seo_music_musician: https://open.spotify.com/artist/1A4ezsQEPReJxvoTJp4u51
seo_mobile_spotify_url: spotify://track/6PKEJ7mcw8bifcQYq6rLjN/?si=pA0lSuL3TsqhaPj6wyt3Lw
---

{% include link_track.html

  artwork="/assets/images/alas_en_mi_single.jpg"
  artwork_ratio="1x1"

  artist_name="Alma de Tüz"
  album_name="Alas en mí"

  spotify="PLAY"
  ytmusic="PLAY"
  apple="PLAY"
  apple_link="https://music.apple.com/us/album/alas-en-m%C3%AD-single/1672758654"

%}

{% include link_js.html

  path="https://www.almadetuz.com/l/spotify/alasenmi"

  spotify_track_id="6PKEJ7mcw8bifcQYq6rLjN"
  spotify_si="pA0lSuL3TsqhaPj6wyt3Lw"

  ytmusic_track_id="vwDkTOcnIYQ"

  campaign="alasenmi"
  medium="spotify"

%}
