---
title: Alas en mi
layout: link
seo_description: Escucha Alas en mí en Spotify - Alma de Tüz - Song - 2023
seo_image: /assets/images/alas_en_mi_single_seo.jpg
seo_image_width: 1280
seo_image_height: 720
seo_type: music.song
seo_audio: /assets/audio/alas_en_mi_preview.mp3
seo_audio_type: audio/mpeg
seo_music_duration: 235
seo_music_album: https://open.spotify.com/album/37tcbRJbrs2QMIaC7nrTnA
seo_music_album_track: 1
seo_music_release_date: 2023-03-24
seo_music_musician: https://open.spotify.com/artist/1A4ezsQEPReJxvoTJp4u51
seo_mobile_spotify_url: spotify://track/6PKEJ7mcw8bifcQYq6rLjN/?context=spotify%3Aplaylist%3A2EzgbXS2j0QKIsIGxXA2bf&si=pA0lSuL3TsqhaPj6wyt3Lw
---

{% include link_track.html

  artwork="/assets/images/alas_en_mi_single.jpg"
  artwork_webp_sizes="/assets/images/alas_en_mi_single.webp 1024w, /assets/images/alas_en_mi_single_640.webp 640w, /assets/images/alas_en_mi_single_480.webp 480w, /assets/images/alas_en_mi_single_320.webp 320w"
  artwork_jpg_sizes="/assets/images/alas_en_mi_single.jpg 1024w, /assets/images/alas_en_mi_single_640.jpg 640w, /assets/images/alas_en_mi_single_480.jpg 480w, /assets/images/alas_en_mi_single_320.jpg 320w"
  artwork_ratio="1x1"

  artist_name="Alma de Tüz"
  album_name="Alas en mí"

  spotify="PLAY"
  youtube="PLAY"
  apple="PLAY"

  bandcamp_url="https://almadetuz.bandcamp.com/album/alas-en-mi"
  cc_year="2023"

%}

{% include link_js.html

  deep_link="yes"

  spotify_track_id="6PKEJ7mcw8bifcQYq6rLjN"
  spotify_context="spotify:playlist:2EzgbXS2j0QKIsIGxXA2bf"
  spotify_si="pA0lSuL3TsqhaPj6wyt3Lw"

  youtube_video_id="vwDkTOcnIYQ"
  youtube_list_id="PLeNBLdOfTIZL6oXll9M9f9SOmJNE3Rbqk"

  apple_link="https://music.apple.com/us/album/alas-en-m%C3%AD-single/1672758654"

  campaign="alasenmi"
  medium="spotify"

%}
