---
title: Baraye en Español - Avîn Awat y Amanda Tüz
layout: link
seo_description: Video de Baraye en Español en YouTube - Avîn Awat y Amanda Tüz - 2022
seo_image: /assets/images/baraye_video_seo.jpg
seo_image_width: 1280
seo_image_height: 720
seo_type: video.other
seo_video_url: https://www.youtube.com/embed/8uTxdF-_dkM
seo_mobile_youtube_url: vnd.youtube://www.youtube.com/watch?v=8uTxdF-_dkM
seo_web_youtube_url: https://www.youtube.com/watch?v=8uTxdF-_dkM
---

{% include link_video.html

  artwork="/assets/images/baraye_video.jpg"
  artwork_ratio="16x9"

  artist_name="Avîn Awat y Amanda Tüz"
  album_name="Baraye en Español"

  youtube="PLAY"

%}

{% include link_js.html

  path="https://www.almadetuz.com/l/youtube/baraye"

  youtube_video_id="8uTxdF-_dkM"
  youtube_list_id="PLeNBLdOfTIZIEj1ONG0-ziLqpKSAB7qYg"

  campaign="baraye"
  medium="youtube"

%}
