---
layout: tracking
body_class: page
preference_modal: true
---
<header>
{% include header.html %}
</header>
<main>
{{ content }}
</main>
<footer>
{% include footer.html %}
</footer>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", (event) => {
    amp_event('Checkout', web_event_prop);
    fb_event('InitiateCheckout', value={{ page.fb_value | default: 1.00 }}, currency="{{ page.fb_currency | default: 'EUR' }}");
    gads_event('conversion', 'checkout');
  });
</script>
