<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    {% feed_meta %}
    {% include seo.html %}

    <link rel="manifest" href="/site.webmanifest">
    <link rel="apple-touch-icon" href="/assets/images/icon.png">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- Normalize -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="/assets/css/bootstrap.v5.3.3.min.css">
    <!-- Cookie consent CSS -->
    <link rel="stylesheet" href="/assets/css/cookieconsent_v3.css">
    <!-- Custom -->
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body class="{{ layout.body_class }}">
<script type="text/javascript">
var environment = document.location.host.includes("{{ site.host }}") ? "production" : "devel";
var base = '{{ page.url | absolute_url }}';
var title = '{{ page.title }}';
const web_event_prop = {
  page_title: title,
  page_domain: document.location.hostname,
  page_location: document.location.href,
  page_path: document.location.pathname,
  page_url: base,
};
</script>

{% include form_js.html %}

{{ content }}

{% include bootstrap_js.html %}

</body>
</html>
