---
title: Fortalezas
layout: link
seo_description: Escucha Fortalezas, poema de Montse Momblán - 2025
seo_image: /assets/images/dentro-del-laberinto/07_fortalezas_seo.jpg
seo_image_width: 1280
seo_image_height: 1280
seo_type: music.song
seo_music_album: https://soundcloud.com/almadetuz/sets/dentro-del-laberinto
seo_music_album_track: 10
seo_music_release_date: 2025-03-27
seo_music_musician: https://soundcloud.com/almadetuz
---

{% include link_track.html

  artwork="/assets/images/dentro-del-laberinto/07_fortalezas.jpg"
  artwork_webp_sizes="/assets/images/dentro-del-laberinto/07_fortalezas.webp 1024w, /assets/images/dentro-del-laberinto/07_fortalezas_640.webp 640w, /assets/images/dentro-del-laberinto/07_fortalezas_480.webp 480w, /assets/images/dentro-del-laberinto/07_fortalezas_320.webp 320w"
  artwork_jpg_sizes="/assets/images/dentro-del-laberinto/07_fortalezas.jpg 1024w, /assets/images/dentro-del-laberinto/07_fortalezas_640.jpg 640w, /assets/images/dentro-del-laberinto/07_fortalezas_480.jpg 480w, /assets/images/dentro-del-laberinto/07_fortalezas_320.jpg 320w"
  artwork_ratio="1x1"

  artist_name="Montse Momblán"
  album_name="Fortalezas"

  soundcloud="PLAY"

  cc_year="2025"

%}

{% include link_js.html

  deep_link="no"

  spotify_artist_id="1A4ezsQEPReJxvoTJp4u51"
  spotify_si="588825ef8a984182"

  youtube_channel_id="UCOPHcngzAIc4ZqT2cc0V0jw"

  soundcloud_track_id="almadetuz/fortalezas?in=almadetuz/sets/dentro-del-laberinto"

  campaign="dl-fortalezas"
  medium="soundcloud"

%}
